{
    "presets": [
        "react",
        ["es2015", {"module":false}],
        "stage-0"
    ],
    "plugins": [
        "add-module-exports",
        "add-module-exports",
        "transform-decorators-legacy",
        "transform-react-display-name",
        "transform-class-properties",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ]
            }
        ]
    ]
}