.app-container {
    display: flex;
}

.app-container .left-sidebar {
    flex: 1 1;
    background: #2a2a2a;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-sidebar .nav {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
}

.left-sidebar .nav  a {
    color:#999999;
    text-shadow:0 1px 0 black;
    padding:10px 15px;
    text-align: left;
}

.left-sidebar .nav  a:hover {
    background-color: #e78170;
    color:white;
    text-shadow:0 1px 0 #de533a;
}

.app-container .main-content {
    flex: 8 3;
    position: relative;
    overflow-y: auto;
}

.app-container .main-content .main-content-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

.app-container .main-content-left {
    flex: 2.5 0;
}

