.clubo-editor {
    height: 500px;
    display : block;
    overflow-y:scroll;
    width: 100%;
}

.clubo-editor-modal {
    width: 77%;
}

.clubo-editor-previewer {
    height: 500px;
    display : block;
    overflow-y:scroll;
    width: 100%;
    background-color: white;
}